html{
    scroll-behavior: smooth;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sctop{
    background: green;
    padding: 1em;
    margin: 1em;
    width: fit-content;
    font-weight: 600;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
}

.main{
    h1{
        font-weight: 700;
        margin: 1em;
    }
    .caption{
        margin-bottom: 4em;
    }
    .box{
        position: relative;
        height: 600px;
        width: 80%;
        box-sizing: border-box;
        background-color: orange;
        margin: 1em;
        &.b1{
            display: flex;
            padding: 1em;
            flex-direction: column;
            .inner{
                height: calc(50% - 2em);
                width: calc(100% - 2em); 
                position: absolute;
                background-color: cyan;
                &.i1{
                    top: 0;
                    left: 0;
                }
                &.i2{
                    bottom: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    form{
                        .form-group{
                            margin: 1em;
                            input{
                                width: 80%;
                            }
                            label{
                                margin-right: 1em;
                            }
                        }
                        .btn-primary{
                            float: right;
                            margin: 1em;
                        }
                    }
                }
            }
        }
        &.b2{
            display: flex;
            flex-direction: column;
            // padding: 1em;
            .inner{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .wrap1{
                display: flex;
                margin-bottom: 1em;
                flex-direction: row;
                height: 50%;
                .inner{
                    margin: 1em;
                    height: 100%;
                    width: 50%;
                    background-color: cyan;
                    &.i1{
                        margin-right: .5em;
                    }
                    &.i2{
                        margin-left: .5em;
                    }
                }
            }
            .i3{
                width: calc(100% - (1em * 2)); //due to margin of 1em
                height: calc(50% - (1em * 2)); //due to margin of 1em
                margin: 1em;
                background-color: cyan;
            }
        }
        &.b3{
            .inner{
                height: 45%;
                width: 45%;
                background-color: cyan;
                position: absolute;
                &.i1{
                    top: 1em;
                    left: 1em;
                    margin-right: 1em;
                    margin-bottom: 1em;
                }
                &.i2{
                    top: 0;
                    right: 0;
                    margin-left: 1em;
                    margin-bottom: 1em;
                }
                &.i3{
                    bottom: 0;
                    left: 0;
                    margin-right: 1em;
                    margin-top: 1em;
                }
                &.i4{
                    bottom: 1em;
                    right: 1em;
                    margin-left: 1em;
                    margin-top: 1em;
                }
            }
        }
    }
}

@media screen and (max-width : 768px) {
    .main{
        h1{
            font-size: 1.5em;
        }
        .box{
            &.b1{
                flex-direction: column;
                .inner{
                    width: calc(100% - (1em * 2)); //due to margin of 1em
                    height: calc(50% - (1em * 2)); //due to margin of 1em
                }
            }
        }
    }
}